{% extends 'admin/master.html' %}
{% block body %}

<div>
  {{ super() }}
            <center><div>
              <h1>Добро пожаловать в административную панель интернет-издания «Китайская неделя»!</h1>
              <p>______________________________________</p></center>
              <style type="text/css"> h3 {text-align: justify;}</style><h3>Здесь Вы сможете создавать, редактировать и удалять публикации.</h3>
              <h3>Тут же можно получить список адресов для доставки нашей email-рассылки заинтересованным пользователям.</h3>
              <h3>На сайте уже вышло статей: <b>{{db.session.query(Post.id).count()}}</b></h3>
              <h3>На нашу email-рассылку уже подписано пользователей: <b>{{db.session.query(Emails.id).count()}}</b></h3>
        </div>

{% endblock %}